.dot-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh; /* Adjust as needed */
}

.dot-category {
    width: 15px;
    height: 15px;
    background-color: #1a6629; /* Adjust color */
    border-radius: 50%;
    animation: pulse 0.6s infinite alternate;
}
.category-card-title {
    font-family: 'Outfit';
    font-size: 1.5em;
    font-weight: 400;
  }
  

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.dot:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1.5);
        opacity: 1;
    }
}
/* ListGroup Styles */
.list-group-item {
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .list-group-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .list-group-item a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #495057;
  }
  
  .list-group-item a:hover {
    color: #007bff;
  }
  
  /* Pagination Styles */
  .pagination {
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination .page-item .page-link {
    color: #007bff;
    border: 1px solid #dee2e6;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
  }
  
  .pagination .page-item .page-link:hover {
    background-color: #e9ecef;
  }