.dashboard-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.info-cards {
  flex: 1; /* Flexible size for cards */
  min-width: 200px; /* Minimum width */
  max-width: 250px; /* Maximum width */
  aspect-ratio: 1; /* Makes the card square */
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  display: flex; /* Align content within the card */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: space-around; /* Space out the content */
}

.info-card p {
  margin: 0;
}

.info-card h3 {
  font-size: 24px;
  font-weight: bold;
}

.info-card.blue {
  background-color: #007bff;
}

.info-card.green {
  background-color: #28a745;
}

.info-card.purple {
  background-color: #33146c;
  
}

.info-card.yellow {
  background-color: #ffc107;
}

.modal-header {
  background-color: #f1f1f1;
  padding: 15px;
}

.modal-body {
  padding: 20px;
}

.date-picker-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.date-picker {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  width: 150px;
  text-align: center;
}

.date-picker-container p {
  margin: 0;
}

.date-picker-container span {
  font-weight: bold;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploader-stats-chart {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.uploader-stats-chart h3 {
  text-align: center;
  margin-bottom: 20px;
}

.dropdown-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.dropdown-menu {
  border-radius: 5px;
}

button {
  font-size: 14px;
}
.daterangepicker {
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.daterangepicker .calendar {
  background-color: #f9f9f9;
  border-radius: 10px;
}

.daterangepicker .calendar table {
  width: 100%;
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.daterangepicker .calendar td.available:hover {
  background-color: #007bff;
  color: white;
}

.daterangepicker .ranges li:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.daterangepicker .applyBtn {
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.daterangepicker .cancelBtn {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
