/* DashboardContent.css */

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the space between the cards */
  margin-bottom: 20px;
}

.info-card {
  background-color: #110b0b;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 500px; /* Increase width to 500px or desired value */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.info-card p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.info-card h3 {
  margin: 10px 0 0;
  font-size: 24px;
  color: #333;
}

.info-card.blue {
  background-color: #e0f7fa;
  border: 5px solid #0853535f;
}

.info-card.green {
  background-color: #e8f5e9;
  border: 5px solid #4caf50;
}

.info-card.yellow {
  background-color: #fffde7;
  border: 5px solid #ffeb3b;
}


/* DashboardContent.css */
.peak-downloads-chart {
  width: 100%; /* Set to full width or specify a percentage */
  height: 10px; /* Adjust the height as needed */
  margin-bottom: 20px; /* Optional margin for spacing */
  
}
  
  .charts {
    margin: 20px 0; /* Space above and below each chart */
    text-align: center;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Adds a hover effect */
  }