/* SearchResultList.css */
.search-results-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.results-list {
  display: flex;
  flex-direction: column;
  cursor: pointer; /* Set pointer cursor on hover */
}

.search-result {
  margin-bottom: 15px;
  padding: 15px;

  border-radius: 5px;
  transition: box-shadow 0.2s;
}

.search-result:hover {
  box-shadow: 0 10px 15px rgba(6, 97, 2, 0.3); /* Shadow effect on hover */
}

/* SearchResultList.css */
.pagination {
    display: flex;
    justify-content: center; /* Center the pagination controls */
    align-items: center; /* Center items vertically */
    margin: 20px 0; /* Margin around pagination */
  }
  
  .pagination button {
    margin: 0 5px; /* Space between buttons */
    border: 1px solid #1c5013; /* Light gray border */
    background-color: white; /* White background */
    color: #0c5510; /* Google blue for text */  
    padding: 8px 12px; /* Padding for buttons */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 14px; /* Font size */
  }
  
  .pagination button:hover {
    background-color: #127c51; /* Light gray background on hover */
  }
  
  .pagination .disabled {
    opacity: 0.5; /* Make disabled buttons semi-transparent */
    cursor: not-allowed; /* Not allowed cursor for disabled buttons */
  }
  .search-result-title {
    color: #043307; /* Title text color */
    text-decoration: underline; /* Underline the title */
    text-decoration-color: #043307; /* Set the color of the underline */
    text-shadow: 0 0 5px rgba(140, 217, 136, 0.5); /* Apply blur to the title text */
    transition: text-shadow 0.3s ease; /* Add smooth transition effect */
  }
  
  .search-result-title:hover {
    text-shadow: 0 0 10px rgba(202, 246, 7, 0.7); /* Stronger blur on hover */
  }
  