/* Container */

 
  /* Research List */
  .research-list {
    list-style-type: none;
    padding: 0;
    
  }
  
  /* Individual Research Item */
  .research-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Adds a hover effect */
  }

  .research-item :hover{
    transform: scale(1.06); /* Slightly enlarges the card on hover */
  }
  
  .research-item h2 {
    font-size: 1.9rem;
    color: #006400;
    margin: 0;
  }
  
  /* Research Details */
  .research-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #85c58f;
    border: 2px solid #ddd;
  }
  
  .research-details p {
    margin: 5px 0;
  }
  
  .research-details strong {
    color: #164717;
  }
  
  /* Error Message */
  .error {
    color: red;
  }
  
  /* Loading */
  .loading {
    font-style: italic;
  }

  .sidebar.open {
    width: 250px;
    transition: width 0.3s ease;
  }
  
  .sidebar {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
  }
  
  .content.with-sidebar {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  }
  
  .content.full-width {
    margin-left: 0;
    transition: margin-left 0.3s ease;
  }
  
  .toggle-sidebar-button {
    margin-right: 10px;
  }
  