.user-dashboard-content {
  padding: 20px;
}

.info-cards {
  display: flex;
  justify-content:  flex-start;
  flex-wrap: wrap; /* Allows cards to wrap in case of smaller screens */
  gap: 3rem; /* Adds gap between cards */
}

.info-card {
  background-color: #f0f0f0; /* Default background color */
  border-radius: 8px;
  padding: 15px; /* Increased padding for better card content spacing */
  width: 220px;
  height: 140px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* More subtle shadow for a cleaner look */
  transition: transform 0.2s ease-in-out; /* Adds a smooth hover effect */
  cursor: pointer;
}

.info-card:hover {
  transform: scale(1.1); /* Slightly enlarges the card on hover */
}

.info-card.blue {
  background-color: #ff6363; /* Specific background for downloads card */
}

.info-card.green {
  background-color: #89f06c; /* Specific background for citations card */
}

.info-card.yellow {
  background-color: #fed43a; /* Specific background for activity card */
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit color from parent */
}

.info-card.purple {
  background-color: #ff39f2; /* Specific background for views card */
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit color from parent */
}

.icon {
  font-size: 24px; /* Adjust icon size */
  margin-bottom: 5px; /* Space between icon and text */
}

h3 {
  margin: 0;
  font-size: 18px; /* Adjust font size for card titles */
}

p {
  margin: 5px 0;
  font-size: 16px; /* Adjust font size for card descriptions */
}

.charts {
  margin-top: 25px; /* Space above charts */
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Space between the charts */
}

.chart {
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out; /* Smooth transition for chart hover effect */
}

.chart:hover {
  transform: scale(1.05); /* Slightly enlarges the chart on hover */
}

@media (max-width: 768px) {
  /* Stacking cards vertically on smaller screens */
  .info-cards {
    flex-direction: column;
    align-items: center; /* Centers cards when stacked */
    gap: 1.5rem; /* More space between vertically stacked cards */
  }

  .info-card {
    width: 80%; /* Make the cards take up more width on small screens */
    height: auto; /* Allow height to adjust based on content */
  }

  .charts {
    gap: 1.5rem; /* Reduced gap between charts on smaller screens */
  }
}
